{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="container text-center"><h1>Sign Up!</h1><img src="{% static 'user.png' %}"  width="80" height="80" alt="">
</div>


{% if error %}
<h3>{{error}}</h3>
{% endif %}

<form action="{% url 'signup' %}" method="POST">
{% csrf_token %}


  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name ="username"class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password2">Re enter Password</label>
    <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary" style ="background:#da552f;border:0px">Submit</button>


</form>
{% endblock %}
